<div
  class="accordion"
  {{ block.shopify_attributes }}
>
  <details
    id="Details-{{ block.id }}-{{ section.id }}"
    {% if section.settings.single_open_only %}
      data-single-open="true"
    {% endif %}
    class="collapsible-content__details"
  >
    <summary id="Summary-{{ block.id }}-{{ section.id }}">
      <h3 class="accordion__title inline-richtext h4">
        {{ block.settings.title}}
      </h3>
      {{- 'arrow-up-icon.svg' | inline_asset_content -}}
    </summary>
    <div
      class="accordion__content rte"
      id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
      role="region"
      aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
    >
      {{ block.settings.content }}
    </div>
  </details>
</div>

{% schema %}
{
  "name": "Accordion Item",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Accordion Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "default": "t:sections.rich-text.blocks.text.settings.text.default",
      "label": "t:sections.rich-text.blocks.text.settings.text.label"
    },
    {
      "type": "select",
      "id": "text_style",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default": "standard",
      "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
    },
    {
      "type": "select",
      "id": "text_size",
      "options": [
        {
          "value": "sm",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
        },
        {
          "value": "md",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
        },
        {
          "value": "lg",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
        },
        {
          "value": "xl",
          "label": "Extra Large"
        },
        {
          "value": "xxl",
          "label": "2X Large"
        }
      ],
      "default": "md",
      "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
    }
  ],
  "presets": [
    {
      "name": "Accordion Item"
    }
  ]
}
{% endschema %} 