<div
  class="accordion collapsible-content px-6 py-4"
  {{ block.shopify_attributes }}
>
  <details
    id="Details-{{ block.id }}-{{ section.id }}"
    data-single-open="true"
    class="collapsible-content__details"
  >
    <summary id="Summary-{{ block.id }}-{{ section.id }}">
      <h3 class="accordion__title inline-richtext h4">
        {{ block.settings.title}}
      </h3>
      {{- 'arrow-up-icon.svg' | inline_asset_content -}}
    </summary>
    <div
      class="accordion__content rte {% if section.settings.open_first_collapsible_row and forloop.first %}animate{% endif %}"
      id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
      role="region"
      aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
      style="--accordion-content-height: 0;"
    >
      {%- for block in block.blocks -%}
        {%- render block -%}
      {%- endfor -%}
    </div>
  </details>
</div>

{% schema %}
{
  "name": "Collapsible Content",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Accordion Title"
    }
  ],
  "blocks": [
    { "type": "rich-text" },
    { "type": "pdp-table" },
    { "type": "pdp-icon" },
    { "type": "pdp-ingredients" }
  ],
  "presets": [
    {
      "name": "Collapsible Content"
    }
  ]
}
{% endschema %} 