{%- liquid
  assign product_form_id = 'product-form-' | append: section.id | append: block.id

  assign up_to_percent = 0
  for variant in product.variants
    assign sub_product = variant
    assign sub_selling_plan = sub_product.selling_plan_allocations.first.selling_plan
    if sub_selling_plan
     assign has_subs = true
    endif
    if sub_selling_plan.price_adjustments.first.value_type == "percentage"
      assign sub_percent = sub_selling_plan.price_adjustments.first.value | round
    endif
    if sub_percent > up_to_percent
      assign up_to_percent = sub_percent
    endif
  endfor
  for upsell in product.metafields.custom.associated_upsells.value
    if forloop.last
      assign upsell_product = upsell
      break
    endif
  endfor
-%}
{% if block.settings.product_form_type == 'drawer' %}
  <div class="pdp-drawer-button">
    <div class="button button--primary button--full-width mx-auto">
      🛒 Choose Package
    </div>
  </div>
{% endif %}
<div id="pdp-form" class="{%if block.settings.product_form_type == 'on-page' %}pdp-inline{% else %}pdp-drawer{% endif %}" {{ block.shopify_attributes }}>
  <product-form data-section-id="{{ section.id }}" data-color-scheme="color-{{ block.settings.color_scheme }}" class="pb-6">
    {%- form 'product', product, id: product_form_id, class: 'form pdp-form', novalidate: 'novalidate', data-type: 'add-to-cart-form', data-otp-variant-id: '{{ product.selected_or_first_available_variant.id }}', autocomplete: 'off' -%}
      
    {% if block.settings.product_form_type == 'drawer' %}
      <div class="pdp-drawer-close">
        {{ 'icon-close.svg' | inline_asset_content }}
      </div>
    {% endif %}
    <!-- Product Form Error Handling -->
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <span class="svg-wrapper">
          {{- 'icon-error.svg' | inline_asset_content -}}
        </span>
        <span class="product-form__error-message"></span>
      </div>

      <!-- Subscriptions Section -->
      {% if has_subs %}
      <div class="pdp-subscriptions__container pdp-variant__container py-6 px-6 mb-4">
        <details class="pdp-subscriptions mb-4" open id="subscription_details">
          <summary class="pdp-subscriptions-summary flex align-center gap-4">
            <input type="radio" name="purchase_type" id="subscription_option" value="subscription" class="pdp-radio-input" checked autocomplete="off">
            <div class="icon-radio-filled">
              {{ 'radio-filled.svg' | inline_asset_content }}
            </div>
            <div class="icon-radio-empty">
              {{ 'radio-empty.svg' | inline_asset_content }}
            </div>
            <label for="subscription_option" class="pdp-radio-label flex-100 flex-shrink">
              <div class="flex align-center justify-between py-1">
                <div>
                  <div class="text-lg text-heading">
                    {{ block.settings.sub_title }}
                  </div>
                  {% if up_to_percent > 0 %}
                    <div class="text-heading">
                      Up to {{ up_to_percent }}% Off + Free Shipping
                    </div>
                  {% endif %}
                </div>
                <div>
                  <div class="subscription-price__compare lg:text-lg text-heading line-through">
                    {{ product.selected_or_first_available_variant.price | money }}
                  </div>
                  <div class="subscription-price text-lg lg:text-xl text-heading text-cta">
                    {{ product.selected_or_first_available_variant.selling_plan_allocations.first.price | money }}
                  </div>
                </div>
              </div>
            </label>
          </summary>
          <div class="pdp-subscriptions-form">
            <div class="subscription-options">
              {%- for variant in product.variants -%}
                {%- liquid
                  assign sub_product = variant
                  assign sub_selling_plan = sub_product.selling_plan_allocations.first.selling_plan
                    if sub_selling_plan.price_adjustments.first.value_type == "percentage"
                      assign sub_percent = sub_selling_plan.price_adjustments.first.value | round | append: "%"
                    endif
                    unless sub_selling_plan
                      continue
                    endunless
                -%}
                <div class="subscription-option flex mb-3">
                  <input 
                    type="radio" 
                    name="subscription_product" 
                    id="sub_quantity_{{forloop.index}}" 
                    value="{{ sub_product.id }}"
                    data-selling-plan-id="{{ sub_product.selling_plan_allocations.first.selling_plan.id }}"
                    class="subscription-radio pdp-radio-input"
                    data-price="{{ sub_product.selling_plan_allocations.first.price | money }}" 
                    {% if sub_product.price > sub_product.selling_plan_allocations.first.price %}data-compare-price="{{ sub_product.price | money }}" {% endif%}
                    {% if forloop.first %}checked{% endif %}
                  >
                  <label for="sub_quantity_{{forloop.index}}" class="variant-label subscription-label flex-100 flex-shrink md:px-4 px-1 text-sm">
                    <div class="flex align-center justify-between py-1"
                      data-price="{{ sub_product.price | money }}" 
                      {% if sub_product.compare_at_price > sub_product.price %}data-compare-price="{{ sub_product.compare_at_price | money }}" {% endif%}
                    >
                    <div class="subscription-per-price">{{ sub_product.selling_plan_allocations.first.price | divided_by: forloop.index | money }}<span class="medium-hide small-hide"> per </span><span class="large-up-hide">/</span>tub</div>
                    <div class="product-qty">
                      {{ forloop.index }} {{ forloop.index | pluralize: 'Tub', 'Tubs' }}: {{ forloop.index | times: 30 }} Servings
                    </div>
                    <div class="subscription-plan-savings">{{ sub_percent }} off</div>
                    </div>
                  </label>
                </div>
              {%- endfor -%}
            </div>
          </div>
        </details>
        {%- for block in block.blocks -%}
          {%- render block -%}
        {%- endfor -%}
      </div>
      {% endif %}
      <!-- One-Time Purchase Section -->
      <div class="pdp-otp__container pdp-variant__container py-6 px-6 mb-4">
        <details class="pdp-otp mb-4" {% unless has_subs %}open{% endunless %} id="otp_details">
          <summary class="pdp-otp-summary flex align-center gap-4">
            <input type="radio" name="purchase_type" id="otp_option" value="otp" class="pdp-radio-input" autocomplete="off">
            <div class="icon-radio-filled">
              {{ 'radio-filled.svg' | inline_asset_content }}
            </div>
            <div class="icon-radio-empty">
              {{ 'radio-empty.svg' | inline_asset_content }}
            </div>
            <label for="otp_option" class="pdp-radio-label flex-100 flex-shrink">
              <div class="flex align-center justify-between py-1">
                <div>
                  <div class="text-lg text-heading">
                    {{ block.settings.otp_title }}
                  </div>
                  {%- liquid
                    assign otp_up_to_percent = 0
                    for variant in product.variants
                      if variant.compare_at_price > variant.price
                        assign compare_percent = variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price
                        if compare_percent > otp_up_to_percent
                          assign otp_up_to_percent = compare_percent
                        endif
                      endif
                    endfor
                  -%}
                  {% if otp_up_to_percent > 0 %}
                    <div class="text-heading">
                      Up to {{ otp_up_to_percent }}% Off
                    </div>
                  {% endif %}
                </div>
                <div>
                  <div class="otp-price__compare lg:text-lg text-heading line-through">
                    {{product.selected_or_first_available_variant.compare_at_price | money }}
                  </div>
                  <div class="otp-price text-lg lg:text-xl text-heading text-cta">
                    {{ product.selected_or_first_available_variant.price | money }}
                  </div>
                </div>
              </div>
            </label>
          </summary>
          <div class="pdp-otp-form">
            <div class="otp-options">
              {%- for variant in product.variants -%}
                <div class="otp-option flex mb-3">
                  <input 
                    type="radio" 
                    name="otp_product" 
                    id="otp_variant_{{ variant.id }}" 
                    value="{{ variant.id }}"
                    data-product-handle="{{ product.handle }}"
                    class="otp-radio pdp-radio-input"
                    data-price="{{ variant.price | money }}" 
                    {% if variant.compare_at_price > variant.price %}data-compare-price="{{ variant.compare_at_price | money }}" {% endif%}
                    {% if variant == product.selected_or_first_available_variant %}checked{% endif %}
                  >
                  <label for="otp_variant_{{ variant.id }}" class="otp-label text-sm variant-label flex-100 flex-shrink md:px-4 px-1">
                    <div class="flex align-center justify-between py-1">
                      <div class="otp-per-price">{{ variant.price | divided_by: forloop.index | money  }}<span class="medium-hide small-hide"> per </span><span class="large-up-hide">/</span>tub</div>
                      <div class="product-qty">
                        {{ forloop.index }} {{ forloop.index | pluralize: 'Tub', 'Tubs' }}: {{ forloop.index | times: 30 }} Servings
                      </div>
                      <div class="otp-plan-savings">{{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% off</div>
                    </div>
                  </label>
                </div>
              {%- endfor -%}
            </div>
          </div>
        </details>
      </div>
      <!-- Hidden inputs for form submission -->
      <input 
        type="hidden" 
        name="id" 
        value="{{ product.selected_or_first_available_variant.id }}" 
        class="product-variant-id"
        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
      >
      <input type="hidden" name="quantity" value="1" class="product-quantity">
      {% if upsell_product != blank %}
        <div class="product-form__upsell">
          <div class="{{ block.settings.upsell_size }} font-semibold">
            {{ block.settings.upsell_title }}
          </div>
          {% render 'upsell-product', upsell: upsell_product, color_scheme: block.settings.upsell_color_scheme %}
        </div>
      {% endif %}
      <!-- Add to Cart Button -->
      <div>
        <button
          type="submit"
          name="add"
          class="btn product-form__cart-submit button button--full-width button--primary"
          {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
        >
          <span class="btn-text">
            {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </span>
          <div class="loading__spinner hidden">
            {{- 'loading-spinner.svg' | inline_asset_content -}}
          </div>
        </button>
        {% if block.settings.show_transaction_badges %}
          <div class="transaction-badges flex-col flex align-center justify-center mt-4">
            <div class="transaction-badges__title text-heading">
              {{ block.settings.badges_title }}
            </div>
            <ul class="list list-payment my-2" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
            <div class="flex align-center gap-2 justify-center align-center mt-4">
              {% if block.settings.badges_icon != blank %}
                {{ block.settings.badges_icon | image_url: width: 24 | image_tag }}
              {% endif %}
              <div class="transaction-badges__delivery-time">
                {{ block.settings.delivery_time }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>

    {%- endform -%}
  </product-form>
</div>

{%- schema -%}
{
  "name": "PDP Product Form",
  "settings": [
    {
      "type": "select",
      "id": "product_form_type",
      "label": "Product Form Type",
      "options": [
        {
          "value": "on-page",
          "label": "On Page"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "drawer"
    },
    {
        "type": "text",
        "id": "sub_title",
        "label": "Subscriptions Title",
        "default": "Subscribe and Save"
    },
    {
        "type": "text",
        "id": "otp_title",
        "label": "OTP Title",
        "default": "One-Time Purchase"
    },
    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "upsell_title",
      "label": "Upsell Title",
      "default": "Add Extras to your Order"
    },
    {
      "type": "select",
      "id": "upsell_size",
      "label": "Upsell Title Size",
      "options": [
        {
          "value": "text-sm",
          "label": "Small"
        },
        {
          "value": "text-md",
          "label": "Medium"
        },
        {
          "value": "text-lg",
          "label": "Large"
        },
        {
          "value": "text-xl",
          "label": "Extra Large"
        },
        {
          "value": "text-xxl",
          "label": "Extra Extra Large"
        }
      ],
      "default": "text-lg"
    },
    {
      "type": "color_scheme",
      "id": "upsell_color_scheme",
      "label": "Upsell Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "paragraph",
      "content": "Blocks appear under the Subscription Form"
    },
    {
      "type": "header",
      "content": "Transaction Badges"
    },
    {
      "type": "checkbox",
      "id": "show_transaction_badges",
      "label": "Show Transaction Badges",
      "default": true
    },
    {
      "type": "text",
      "id": "badges_title",
      "label": "Transaction Badges Title",
      "default": "All transactions secured and encrypted",
      "visible_if": "{{ block.settings.show_transaction_badges }}"
    },
    {
      "type": "image_picker",
      "id": "badges_icon",
      "label": "Transaction Badges Icon",
      "visible_if": "{{ block.settings.show_transaction_badges }}"
    },
    {
      "type": "text",
      "id": "delivery_time",
      "label": "Delivery Time Message",
      "default": "Expected delivery in 3-5 business days",
      "visible_if": "{{ block.settings.show_transaction_badges }}"
    }
  ],
  "blocks": [
    {"type": "pdp-icon"}
  ],
  "presets": [
    {
      "name": "Product Form"
    }
  ]
}
{%- endschema -%}